header {
    background-color: white;
    margin:0 auto;
    padding: 0px 0px 100px 0;
    border:solid white;
    box-shadow:0 2px 2px 5px;
    font-size: 20px;
    
  }
  h1{
    float:left;
    
  }
  nav{
    float:right;
  }

p.first{text-align:center;
  font-size: 50px;
  color:darkslateblue;
  width: 1200px;
  margin: 0 auto;
  background-color:darkseagreen;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
body{
  background-color:lightgoldenrodyellow;
  margin:0 auto;
  padding:0;
}
a:link {
  text-decoration: none;
  color:black;
  font-size: 40px;
}
h1.first{
  color: darkslateblue;
}